<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#unless user}}
  <a href="/auth/signup"><button>Sign Up</button></a>
  <a href="/auth/login"><button>Login</button></a>
{{/unless}}
{{#if user}}
  <a href="/main"><button>Main Page</button></a>
  <form id="logout-form" action="auth/logout" method="POST">
    <button>Logout</button>
  </form>
{{/if}}