<a href="/private"><img
    src="/images/CAT HERO_0021_Scottish_fold.jpg"
    alt=""
  /></a>
<br />
<a href="/"><button>Homepage</button></a>
<br />
<form id="logout-form" action="auth/logout" method="POST">
  <button>Logout</button>
</form>