<img src="/images/private.gif" alt="" /><br />
<h1>This page is private!</h1><br />
<a href="/main"><button>Return</button></a>
<br />
<a href="/"><button>Homepage</button></a>
<form id="logout-form" action="auth/logout" method="POST">
  <button>Logout</button>
</form>